
<section >
  <div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
      <h3>Welcome</h3>
      <form [formGroup]="loginuser" (ngSubmit)="onlogin()" > 
          <div class="inputBox"> 
              <input id="email" formControlName="email" name="email" type="email" name="email" placeholder="email" [(ngModel)]="user.email">
              <small *ngIf="loginuser.controls['email'].dirty && loginuser.hasError('required','email')" class="text-danger">Enter vaild email</small> 
              <input id="pass" formControlName="password" name="password"  [type]="inputType" name="Password" placeholder="Password" [(ngModel)]="user.password" >
               <small *ngIf="loginuser.controls['password'].dirty && loginuser.hasError('required','password')" class="text-danger">Check the Password</small>  
            </div> 
            <input type="checkbox"  (change)="changepassword($event)" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Show password</label>
            <button class="button">Login</button>
          <p style="color: #59238F; text-align: center;"> <a routerLink="/signup"> Sign-Up</a></p>
      </form> 
      <!--  -->
      
  </div>
  </section>
 